<nav>
  <mat-toolbar>
    <div>
      <img src="assets/mypic.png" class="avatar"/>
      <span class="ml-3" style="opacity:0.7;">Sam Shteinman</span>
    </div>
      
    <div>
      <app-brand class="ml-2 mr-2" *ngFor="let brand of brands" [picturePath]="brand.picturePath" [destinationUrl]="brand.destinationUrl"></app-brand>
    </div>

  </mat-toolbar>
</nav>

<main>
  <iframe class="p-3"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89729.1287893505!2d-76.00537766063844!3d45.3481001971491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccdff86df946877%3A0x286ff73092245b34!2sKanata%2C%20Ottawa%2C%20ON!5e0!3m2!1sen!2sca!4v1613092147810!5m2!1sen!2sca" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</main>
