<div class="delay-2 center animate__animated animate__zoomInDown">
  <app-avatar profilePicturePath="assets/mypic.png">
</app-avatar>
</div>

<div class="center animate__animated animate__lightSpeedInRight">
<app-brand brandPicturePath="assets/github.png" destinationUrl="https://github.com/samshteinman"></app-brand>
<app-brand brandPicturePath="assets/linkedin.png" destinationUrl="https://www.linkedin.com/in/samshteinman/"></app-brand>
</div>


<div class="delay center animate__animated animate__backInUp animate__faster">
  <app-brand brandPicturePath="assets/appstore.png" destinationUrl="https://apps.apple.com/sr/app/sharevibe/id1507858210"></app-brand>
</div>