<nav>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</nav>

<div style="background-color: rebeccapurple;" class="animate__delay-1s center animate__animated animate__zoomInDown">
  <app-avatar profilePicturePath="assets/mypic.png">
</app-avatar>
</div>

<div class="center animate__animated animate__lightSpeedInRight">
  <app-brand *ngFor="let brand of brands$ | async" [picturePath]="brand.picturePath" [destinationUrl]="brand.destinationUrl"></app-brand>
</div>


<div class="animate__delay-2s center animate__animated animate__backInUp animate__faster">
  <app-brand picturePath="assets/appstore.png" destinationUrl="https://apps.apple.com/sr/app/sharevibe/id1507858210"></app-brand>
</div>
