.brand {
  max-width:2rem;
  max-height:2rem;
}

.brand:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  20% { transform: translate(1px,1px) rotate(0deg); }
  50% { transform: translate(0px,1px) rotate(0deg); }
  100% { transform: translate(1px, 0px) rotate(-1deg); }
}
